.my-4 {
  position: fixed;
  top: 150px;
  left: 10%; /* Centers the heading horizontally */
  transform: translateX(-50%); /* Adjusts for the 50% centering */
  z-index: 1000; /* Ensures it stays on top of other elements */
  background-color: white; /* Optional: To avoid overlap with background */
  padding: 10px; /* Optional: Add some padding for better visibility */
  border-radius: 5px; /* Optional: Add border radius for aesthetics */
}

/* New class specifically for the activities container */
.activities-container {
  margin-top: 100px; /* Adjust based on the fixed header height */
}

.container {
  margin-top: 200px; /* Adjust based on the fixed heading height */
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.5s ease;
}

.image-container:hover {
  transform: scale(1.05);
}

.activity-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 1s ease;
  backface-visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(127, 119, 119, 0.788);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 0.3s ease;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.image-container:hover .overlay {
  opacity: 1;
  transform: rotateY(0);
}

.image-container:hover .activity-image {
  transform: rotateY(180deg);
}

.activity-name {
  color: white;
  text-decoration: none;
}

.like-button-container {
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s ease;
}

.like-button-container:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 15px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:hover {
  background-color: #ddd;
}

/* Greying out filtered activities */
.filtered .card {
  opacity: 0.5;
}
