:root {
  --pastel-blue: #A8D8EA;
  --pastel-green: #CCEDD2;
  --pastel-yellow: #FFEFD3;
  --pastel-pink: #FFCAD4;
}

body {
  margin-left: 250px; /* Width of the sidebar */
}

.main-with-sidebar {
  margin-left: 250px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  body {
    margin-left: 0;
  }

  .main-with-sidebar {
    margin-left: 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar-buttons {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .btn-custom {
    flex: 1 1 auto;
    margin: 5px;
  }
}