.footer {
  background-color: var(--pastel-green) !important;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  opacity: 1;
  height: 50px; /* Adjust the height value as needed */
  display: flex;
  align-items: center;
}

.footer .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.text-muted {
  margin-left: auto;
}
