.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f0f4f8;
  padding-top: 20px; /* Reduced space between navbar and title */
}

.title-section {
  width: 100%;
  text-align: center;
  background-color: #f0f4f8;
  padding: 10px 0; /* Reduced padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px; /* Reduced margin */
  width: 100%;
  max-width: 800px;
}

.activity-button {
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 10px;
}

.activity-button svg {
  fill: white;
}

.activity-button.green {
  background-color: #4caf50;
}

.activity-button.green-yellow {
  background-color: #8bc34a;
}

.activity-button.yellow {
  background-color: #ffeb3b;
}

.activity-button.yellow-orange {
  background-color: #ffc107;
}

.activity-button.orange {
  background-color: #ff9800;
}

.activity-button.orange-red {
  background-color: #ff5722;
}

.activity-button.red {
  background-color: #f44336;
}

.activity-button:hover {
  filter: brightness(0.9);
}
