.quote-container {
  background-color: #f0f0f0;
  padding-bottom: 56px;
  margin-top: 0px; /* Adjust based on your navbar height */
}

.quote-text {
  margin: 0;
  text-align: center;
  font-size: 1.25rem;
}

.photo-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card-deck {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; /* Space below the quote of the day */
}

.card {
  width: 18rem;
}
