.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 15px;
}

.recipe-card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: var(--pastel-yellow);
  height: 100%;

  &:hover {
    transform: scale(1.05);
  }
}

.image-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  position: relative;
  padding: 15px;
  padding-bottom: 40px;
}

.card-title {
  margin-bottom: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

.vegetarian-icon-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.vegetarian-icon-wrapper {
  position: relative;
}

.vegetarian-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.vegetarian-tooltip {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.vegetarian-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.vegetarian-icon-wrapper:hover .vegetarian-tooltip {
  visibility: visible;
  opacity: 1;
}

// Adjust the new recipe button margin
button.new-recipe-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

button.new-recipe-button:hover {
  background-color: #218838;
}

.card-buttons {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.card-buttons svg {
  margin-right: 10px; /* Add space between the buttons */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 24px;
  height: 24px;
}

.card-buttons svg.delete {
  background-color: #dc3545;
}

.card-buttons svg.delete:hover {
  background-color: #c82333;
}

.card-buttons svg:hover {
  background-color: #0056b3;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.pagination-buttons button,
.pagination-buttons span {
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination-buttons .active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination-buttons button:hover,
.pagination-buttons span:hover {
  background-color: #e9e9e9;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh; /* Ensure the modal does not exceed the viewport height */
  overflow-y: auto; /* Make the modal content scrollable */
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button.remove-button {
  background-color: #dc3545;
  padding-top: 5px;
  padding-bottom: 5px;
}

button.remove-button:hover {
  background-color: #c82333;
}

input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input,
.input-group textarea {
  flex: 1;
}

// Responsive adjustments
@media (max-width: 768px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
