.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 15px;
}

.recipe-card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: var(--pastel-yellow);
  height: 100%;

  &:hover {
    transform: scale(1.05);
  }
}

.image-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  position: relative;
  padding: 15px;
  padding-bottom: 40px;
}

.card-title {
  margin-bottom: 10px;
  font-size: 1.1rem;
  cursor: pointer; /* Add cursor pointer for title */
}

.vegetarian-icon-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.vegetarian-icon-wrapper {
  position: relative;
}

.vegetarian-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.vegetarian-tooltip {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 30px; /* Adjusted to lower the tooltip */
  right: 20px;  /* Adjusted to move the tooltip to the left */
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.vegetarian-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.vegetarian-icon-wrapper:hover .vegetarian-tooltip {
  visibility: visible;
  opacity: 1;
}

// Modal styles
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh; /* Ensure the modal does not exceed the viewport height */
  overflow-y: auto; /* Make the modal content scrollable */
  position: relative;
}

button {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

// Responsive adjustments
@media (max-width: 768px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
