.search-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.custom-search {
  width: 200px; /* Adjust width if needed */
  height: 40px;
  border-radius: 20px 0 0 20px !important;
  border: 1px solid #ced4da !important;
  transition: all 0.3s ease !important;
}

.search-button {
  height: 40px;
  border-radius: 0 20px 20px 0 !important;
  border: 1px solid #ced4da !important;
  background-color: white !important;
  color: #6c757d !important;
  transition: all 0.3s ease !important;
}

.search-results {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  position: fixed; /* Make the search results fixed */
  top: 90px; /* Position it below the navbar (80px navbar height + 10px margin) */
  right: 20px; /* Adjust the distance from the right side of the screen */
  width: 200px; /* Adjust width if needed */
  z-index: 9999; /* Ensure it appears above other elements */
}

.result-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}

.result-item:hover {
  background-color: #f8f9fa;
}

.result-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.result-item span {
  font-size: 16px;
  color: #333;
}
