.sidebar {
  position: fixed;
  left: -90%;
  top: 56px; /* Adjust based on your navbar height */
  bottom: 0;
  width: 250px;
  background-color: var(--pastel-blue);
  transition: left 0.3s ease-in-out;
  padding: 20px;
  z-index: 1000;
}

.sidebar.visible {
  left: 0;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidebar-buttons .btn {
  margin-bottom: 10px;
}
